name: Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Set version
        id: get_version
        run: echo "##[set-output name=VERSION;]${GITHUB_REF#refs/tags/v}"

      - name: Build
        run: dotnet build --configuration Release

      - name: Test
        run: dotnet test --configuration Release --no-build --no-restore

      - name: Pack
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        run: dotnet pack --configuration Release --no-build --no-restore --output ./nupkgs /p:Version=${{ env.VERSION }}

      - name: Publish
        run: dotnet nuget push ./nupkgs/*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
